In [1]:
import pandas as pd
import gc

In [2]:
ad_id_embedding = pd.read_csv('output/model/ad_id_embedding.csv')
ad_id_embedding

,ad_id,ad_id_embe_0,ad_id_embe_1,ad_id_embe_2,ad_id_embe_3,ad_id_embe_4,ad_id_embe_5,ad_id_embe_6,ad_id_embe_7,ad_id_embe_8,...,ad_id_embe_22,ad_id_embe_23,ad_id_embe_24,ad_id_embe_25,ad_id_embe_26,ad_id_embe_27,ad_id_embe_28,ad_id_embe_29,ad_id_embe_30,ad_id_embe_31
0,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,-0.032614,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
1,4,-0.089661,0.055471,0.395159,-0.436938,1.288012,0.478985,0.537193,-0.169751,-0.559273,...,-0.289390,0.313126,-0.244726,-0.324159,0.729913,0.279876,-0.032628,0.180242,1.196047,-0.056530
2,7,0.112541,-0.005168,0.526065,0.268201,0.253096,0.299553,-0.379243,0.005035,-0.250129,...,-0.128286,-0.321561,-0.183879,0.123848,-0.321637,-0.334384,0.108655,-0.017366,-0.106063,0.229758
3,10,-0.272053,-0.665596,-0.533179,-0.628168,0.403773,0.002598,0.061541,-0.465186,-0.063501,...,0.194512,0.230834,0.239820,-0.227737,0.287008,0.604099,-0.358275,0.244042,0.817630,-0.506664
4,13,0.125678,-0.211047,-0.147865,-0.209360,0.426246,-0.340504,-0.093449,-0.045746,-0.158128,...,0.289924,0.078457,-0.047894,-0.064415,0.547459,-0.033226,-0.352358,-0.047583,0.628205,-0.255971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977172,3812192,-0.010692,-0.097550,-0.096468,-0.059740,0.127783,-0.025087,0.004864,-0.049829,0.050085,...,-0.003015,0.064243,0.047401,0.036093,0.033483,0.082101,0.008743,0.044270,0.091698,-0.055189
1977173,3812193,0.110748,-0.133868,-0.399664,0.001445,0.435522,-0.059304,-0.233921,-0.218430,-0.126994,...,0.288143,-0.325005,-0.271879,0.018046,0.313280,0.466025,-0.003697,0.205071,0.268975,-0.323837
1977174,3812197,0.270088,-0.236209,-0.268304,0.014883,0.203691,-0.095652,-0.179797,-0.168630,-0.054222,...,0.018214,0.032631,-0.046049,0.022929,0.153935,0.300393,-0.039418,0.273292,0.275697,-0.292421
1977175,3812200,0.114152,-0.142739,-0.143539,0.057558,0.208651,0.004849,-0.126299,-0.255401,-0.017504,...,0.018973,-0.044690,0.082789,-0.051860,0.014470,0.261161,-0.051155,0.156350,0.063169,-0.203825
1977176,3812201,0.088184,0.152007,-0.001775,-0.002528,-0.077543,-0.018972,0.067974,-0.039841,-0.055926,...,-0.035715,-0.099209,-0.093738,-0.038312,-0.032444,0.044544,-0.011168,0.009041,-0.080798,0.005541

训练集

In [3]:
train_ad = pd.read_csv('data/train_preliminary/ad.csv')
train_click_log = pd.read_csv('data/train_preliminary/click_log.csv')
train = pd.merge(train_ad, train_click_log, how='outer')
del train_ad, train_click_log
gc.collect()
train

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times
0,1,1,\N,5,381,78,81,398695,1
1,1,1,\N,5,381,78,82,404020,1
2,1,1,\N,5,381,78,81,556109,1
3,1,1,\N,5,381,78,81,687033,1
4,1,1,\N,5,381,78,81,556136,1
...,...,...,...,...,...,...,...,...,...
30082766,4445715,3812197,39063,17,427,\N,91,299455,1
30082767,4445716,3812198,39063,17,427,\N,91,525903,1
30082768,4445717,3812199,35885,17,427,\N,91,779891,1
30082769,4445718,3812200,39287,17,427,\N,91,740461,1
30082770,4445718,3812200,39287,17,427,\N,91,101004,1

In [4]:
train_features = train[['user_id', 'ad_id']]
del train
gc.collect()
train_features

          user_id    ad_id
0          398695        1
1          404020        1
2          556109        1
3          687033        1
4          556136        1
...           ...      ...
30082766   299455  3812197
30082767   525903  3812198
30082768   779891  3812199
30082769   740461  3812200
30082770   101004  3812200

[30082771 rows x 2 columns]

In [5]:
train_id = train_features[['user_id']].drop_duplicates()
train_id

          user_id
0          398695
1          404020
2          556109
3          687033
4          556136
...           ...
28106374   510152
28136502   884209
28312882   141128
28473972   578293
29040601   630049

[900000 rows x 1 columns]

In [6]:
train_ad_id_embedding = pd.merge(train_features, ad_id_embedding, on='ad_id', how='left')
train_ad_id_embedding

,user_id,ad_id,ad_id_embe_0,ad_id_embe_1,ad_id_embe_2,ad_id_embe_3,ad_id_embe_4,ad_id_embe_5,ad_id_embe_6,ad_id_embe_7,...,ad_id_embe_22,ad_id_embe_23,ad_id_embe_24,ad_id_embe_25,ad_id_embe_26,ad_id_embe_27,ad_id_embe_28,ad_id_embe_29,ad_id_embe_30,ad_id_embe_31
0,398695,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
1,404020,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
2,556109,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
3,687033,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
4,556136,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30082766,299455,3812197,0.270088,-0.236209,-0.268304,0.014883,0.203691,-0.095652,-0.179797,-0.168630,...,0.018214,0.032631,-0.046049,0.022929,0.153935,0.300393,-0.039418,0.273292,0.275697,-0.292421
30082767,525903,3812198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30082768,779891,3812199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30082769,740461,3812200,0.114152,-0.142739,-0.143539,0.057558,0.208651,0.004849,-0.126299,-0.255401,...,0.018973,-0.044690,0.082789,-0.051860,0.014470,0.261161,-0.051155,0.156350,0.063169,-0.203825
30082770,101004,3812200,0.114152,-0.142739,-0.143539,0.057558,0.208651,0.004849,-0.126299,-0.255401,...,0.018973,-0.044690,0.082789,-0.051860,0.014470,0.261161,-0.051155,0.156350,0.063169,-0.203825

In [7]:
def extract_feat(df_, key, name, L, train_id):
    for i in range(L):
        t = df_.groupby(key).aggregate({'{0}_embe_{1}'.format(name, i):['mean','min','max']}).reset_index()
        t.columns = ['_'.join(j).strip('_') for j in t.columns.values]
        train_id = pd.merge(train_id, t, on=key, how='left')
        del t 
        gc.collect()
    return train_id

In [8]:
train_ad_id_embedding_df= extract_feat(train_ad_id_embedding, 'user_id', 'ad_id', 32, train_id)
train_ad_id_embedding_df

,user_id,ad_id_embe_0_mean,ad_id_embe_0_min,ad_id_embe_0_max,ad_id_embe_1_mean,ad_id_embe_1_min,ad_id_embe_1_max,ad_id_embe_2_mean,ad_id_embe_2_min,ad_id_embe_2_max,...,ad_id_embe_28_max,ad_id_embe_29_mean,ad_id_embe_29_min,ad_id_embe_29_max,ad_id_embe_30_mean,ad_id_embe_30_min,ad_id_embe_30_max,ad_id_embe_31_mean,ad_id_embe_31_min,ad_id_embe_31_max
0,398695,-2.485001,-11.804016,6.535553,-0.553754,-8.611520,4.990573,-1.280968,-8.250966,6.361082,...,12.323456,-0.730570,-11.310665,5.979764,-0.392386,-4.204873,5.217093,1.482839,-7.071385,11.987630
1,404020,-1.645398,-7.603946,8.359852,-1.337470,-4.573598,7.506921,0.623542,-3.013242,8.417761,...,5.778561,0.623147,-6.164523,3.943907,0.199949,-5.496840,4.436472,-1.593440,-9.893705,7.880405
2,556109,-1.020105,-12.181793,6.696768,-1.147584,-5.069798,2.457908,0.250016,-1.878137,5.692319,...,6.560976,-1.344188,-12.845104,2.315968,1.071086,-1.321210,5.724445,-0.752317,-7.456583,8.929067
3,687033,2.440451,-4.733068,11.136541,-1.050675,-5.598617,4.668505,4.487283,-2.160128,15.003983,...,13.205652,0.275780,-7.972612,8.355235,1.048308,-4.680589,6.876261,0.643380,-9.902468,13.436854
4,556136,-0.383414,-7.283681,14.274789,-2.093028,-5.163827,-0.106398,1.156886,-5.765803,10.573565,...,10.634813,1.279418,-2.520239,8.193756,1.920357,0.338487,4.721183,-2.363092,-8.121402,0.822903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,510152,6.573447,1.180284,8.720078,-0.862447,-2.886294,0.958428,-2.736412,-3.567255,-0.362704,...,0.437740,-5.679013,-8.383091,0.290584,-0.706528,-1.873813,3.406617,2.575310,-0.984563,4.363266
899996,884209,-1.451777,-3.661243,0.156819,1.555799,0.023213,8.614103,-1.762338,-4.609439,-0.340417,...,-0.295599,2.255502,0.175196,7.112236,0.631746,-0.180192,2.478456,-0.859276,-2.532300,0.266008
899997,141128,-0.519718,-2.633280,0.347687,0.009247,-0.313682,0.819306,-0.409660,-1.228076,0.760852,...,0.432057,0.977927,0.162911,2.667138,0.464441,0.140420,0.875833,-0.455611,-1.551654,-0.088370
899998,578293,3.491147,0.269834,5.527949,-4.937703,-8.728704,-0.446671,-0.886353,-4.053535,2.471119,...,2.956828,3.326329,0.295969,7.582216,4.567493,0.404700,8.194082,-2.263324,-6.930778,1.337180
899999,630049,0.879045,-0.072491,2.135590,-1.455668,-4.948686,-0.138511,-0.766278,-2.691461,0.188234,...,-0.055271,3.124575,0.155803,12.400663,3.228539,0.101518,9.212411,-0.990335,-3.961022,0.214929

In [9]:
train_ad_id_embedding_df.to_csv('output/features/train/ad_id_embedding_df.csv', index=False)

In [11]:
del train_features, train_id, train_ad_id_embedding, train_ad_id_embedding_df
gc.collect()

0

In [ ]:
#内存溢出

测试集

In [3]:
test_ad = pd.read_csv('data/test/ad.csv')
test_click_log = pd.read_csv('data/test/click_log.csv')
test = pd.merge(test_ad, test_click_log, how='outer')
del test_ad, test_click_log
gc.collect()
test

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times
0,1,1,\N,5,381,78,81,3153317,1
1,1,1,\N,5,381,78,81,3284714,1
2,1,1,\N,5,381,78,81,3491929,1
3,1,1,\N,5,381,78,81,3831238,1
4,1,1,\N,5,381,78,82,3304452,1
...,...,...,...,...,...,...,...,...,...
33585507,4445715,3812197,39063,17,427,\N,91,3697572,1
33585508,4445718,3812200,39287,17,427,\N,91,3306334,1
33585509,4445719,3812201,39287,17,427,\N,91,3692401,1
33585510,4445719,3812201,39287,17,427,\N,91,3933083,1
33585511,4445720,3812202,39287,17,427,\N,91,3312130,1

In [4]:
test_features = test[['user_id', 'ad_id']]
del test
gc.collect()
test_features

          user_id    ad_id
0         3153317        1
1         3284714        1
2         3491929        1
3         3831238        1
4         3304452        1
...           ...      ...
33585507  3697572  3812197
33585508  3306334  3812200
33585509  3692401  3812201
33585510  3933083  3812201
33585511  3312130  3812202

[33585512 rows x 2 columns]

In [5]:
test_id = test_features[['user_id']].drop_duplicates()
test_id

          user_id
0         3153317
1         3284714
2         3491929
3         3831238
4         3304452
...           ...
31350787  3274620
31440169  3818829
32224876  3380122
32323640  3996272
32784646  3503732

[1000000 rows x 1 columns]

In [6]:
test_ad_id_embedding = pd.merge(test_features, ad_id_embedding, on='ad_id', how='left')
test_ad_id_embedding

,user_id,ad_id,ad_id_embe_0,ad_id_embe_1,ad_id_embe_2,ad_id_embe_3,ad_id_embe_4,ad_id_embe_5,ad_id_embe_6,ad_id_embe_7,...,ad_id_embe_22,ad_id_embe_23,ad_id_embe_24,ad_id_embe_25,ad_id_embe_26,ad_id_embe_27,ad_id_embe_28,ad_id_embe_29,ad_id_embe_30,ad_id_embe_31
0,3153317,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
1,3284714,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
2,3491929,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
3,3831238,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
4,3304452,1,-0.023798,-0.694615,-0.281937,-0.878137,0.364554,0.137374,0.122049,-0.411158,...,0.151799,0.315422,0.027739,-0.087063,0.091937,1.297327,-0.395410,0.159714,0.684827,-1.277236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33585507,3697572,3812197,0.270088,-0.236209,-0.268304,0.014883,0.203691,-0.095652,-0.179797,-0.168630,...,0.018214,0.032631,-0.046049,0.022929,0.153935,0.300393,-0.039418,0.273292,0.275697,-0.292421
33585508,3306334,3812200,0.114152,-0.142739,-0.143539,0.057558,0.208651,0.004849,-0.126299,-0.255401,...,0.018973,-0.044690,0.082789,-0.051860,0.014470,0.261161,-0.051155,0.156350,0.063169,-0.203825
33585509,3692401,3812201,0.088184,0.152007,-0.001775,-0.002528,-0.077543,-0.018972,0.067974,-0.039841,...,-0.035715,-0.099209,-0.093738,-0.038312,-0.032444,0.044544,-0.011168,0.009041,-0.080798,0.005541
33585510,3933083,3812201,0.088184,0.152007,-0.001775,-0.002528,-0.077543,-0.018972,0.067974,-0.039841,...,-0.035715,-0.099209,-0.093738,-0.038312,-0.032444,0.044544,-0.011168,0.009041,-0.080798,0.005541
33585511,3312130,3812202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def extract_feat(df_, key, name, L, train_id):
    for i in range(L):
        t = df_.groupby(key).aggregate({'{0}_embe_{1}'.format(name, i):['mean','min','max']}).reset_index()
        t.columns = ['_'.join(j).strip('_') for j in t.columns.values]
        train_id = pd.merge(train_id, t, on=key, how='left')
        del t 
        gc.collect()
    return train_id

In [8]:
test_ad_id_embedding_df= extract_feat(test_ad_id_embedding, 'user_id', 'ad_id', 32, test_id)
test_ad_id_embedding_df

,user_id,ad_id_embe_0_mean,ad_id_embe_0_min,ad_id_embe_0_max,ad_id_embe_1_mean,ad_id_embe_1_min,ad_id_embe_1_max,ad_id_embe_2_mean,ad_id_embe_2_min,ad_id_embe_2_max,...,ad_id_embe_28_max,ad_id_embe_29_mean,ad_id_embe_29_min,ad_id_embe_29_max,ad_id_embe_30_mean,ad_id_embe_30_min,ad_id_embe_30_max,ad_id_embe_31_mean,ad_id_embe_31_min,ad_id_embe_31_max
0,3153317,-2.682523,-8.669187,2.636314,-0.667143,-3.956190,5.552232,0.507184,-4.488916,7.713791,...,10.568873,0.164569,-4.783967,5.138606,-0.043735,-4.644172,5.156234,-1.040915,-5.221188,1.908157
1,3284714,1.311700,-6.961670,13.033854,-2.198414,-6.055876,1.041636,0.800665,-1.691322,4.737873,...,7.566453,0.884743,-6.392732,8.247424,3.504369,0.630862,9.152078,-1.185030,-5.527526,6.842376
2,3491929,-1.134799,-5.005258,8.467810,-1.922497,-5.327207,1.509199,0.864347,-1.864425,6.604331,...,9.364233,-0.885059,-4.052573,3.564830,-0.015456,-5.317439,1.089850,1.057788,-6.354441,12.315154
3,3831238,0.697868,-4.388091,6.418326,0.967878,-1.172875,9.640598,1.634856,-2.271515,11.674409,...,9.399190,-0.478906,-8.553185,6.468641,-0.583458,-5.308648,2.879388,2.756648,-5.271793,17.328318
4,3304452,-2.374031,-16.744963,12.799192,-1.743596,-5.674638,2.011278,0.001953,-8.734511,5.774693,...,10.922840,-0.806599,-8.312342,5.171799,-1.248656,-8.232562,3.050667,-1.093770,-8.767658,7.212023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,3274620,-0.917764,-2.590725,0.866687,-4.247491,-9.327357,-1.060171,-1.807481,-4.037711,1.559009,...,-0.430333,4.595541,1.434284,7.144167,1.530205,-1.638415,5.618176,-2.043547,-3.899024,-0.404133
999996,3818829,-2.500827,-4.954204,-1.072990,0.032536,-0.483146,0.889291,-0.633239,-1.302930,-0.010010,...,-0.514482,1.185368,0.205448,2.659502,0.317374,-0.366754,1.159674,-0.632499,-1.654481,0.288907
999997,3380122,3.249248,-0.037565,6.833143,-2.539434,-4.424579,-0.278861,0.361960,-0.934582,3.796174,...,2.106642,1.812808,0.035377,8.539664,3.352435,0.290286,7.173878,-2.616694,-6.456549,-0.106198
999998,3996272,0.070657,-1.335933,1.381528,-1.093962,-1.895860,-0.685235,-0.789746,-1.928318,-0.167945,...,0.235669,3.526475,1.431921,7.403328,1.552826,0.658907,3.127269,-1.580095,-2.553123,-0.582525
999999,3503732,1.011751,-0.665793,5.059191,-1.267189,-5.769785,-0.025157,-0.705316,-1.670264,0.038691,...,1.031675,1.521199,0.138439,6.084748,0.897751,-2.095797,3.874099,-0.950805,-2.806033,-0.082939

In [9]:
test_ad_id_embedding_df.to_csv('output/features/test/ad_id_embedding_df.csv', index=False)